@import url(./reset.css);

:root {
    --app-text-horse-color: #d88c00;
    --app-button-background-color: #000;
}

section {
    padding: 5rem 0;
}

.product-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
}


/** left content **/
    
.left-content img {
    width: 50rem;
    height: 40rem;
    border: 1px solid #cccccc;
}



/** right content **/

.right-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: #333 solid 1px;
    width: 100%;
    padding: 2rem;
    height: 100%;
}

.right-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
}

.star-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

.star-price .stars{
    color: #ff9900;
    font-size: 2rem;
}

.star-price .stars p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.star-price .price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
}

div.basic-list-details ul li {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    list-style: none;
    line-height: 3rem;
}

/** colors **/

.color-grid {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.color-box {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid #cccccc;
}

.black-orange {
    background-color: #333333;
}

.color-box h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5rem;    
}

/** Place Order **/

.place-order {
    /* posisionando o botao na parte inferior direita */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.place-order button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--app-button-background-color);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

/** SPECIFIC-DETAILS SECTIONS **/

.specific-details{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    align-items: center;
}

/** description **/


/** details **/

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.technical-details, .general-details {
    width: 100%;
    border: #333 solid 1px;
}


/** general-details **/

.general-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.general-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.general-text h2 {
    font-size: 4rem;
    font-weight: 600;
}

/** horse-details **/

.general-text span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.general-details .horse h2 {
    color: var(--app-text-horse-color);
}