/* ! ------------------------------------------------------------------------ */
/* ! Header                                                                   */
/* ! ------------------------------------------------------------------------ */

header {
  background-color: #fff;
}

.desktop-nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

@media (max-width: 64.5rem) {
  .pages {
    display: none;
  }
}

.desktop-nav h1 {
  color: #000;
}

.pages a {
  color: #000;
  padding: 1rem 2rem;
}

.pages a:last-child {
  background-color: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.pages a:last-child:hover {
  background-color: #fff;
  border-radius: 0.5rem;
  border: #000 0.1rem solid;
  color: #000;
}

/* ! ------------------------------------------------------------------------ */
/* ! Footer                                                                   */
/* ! ------------------------------------------------------------------------ */

footer {
  padding: 4rem 0;
}

footer,
footer a {
  background-color: #1b1b1b;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links,
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.newsletter input {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.join-btn {
  align-self: flex-end;
  padding: 1rem 2rem;
  background-color: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.join-btn:hover {
  align-self: flex-end;
  padding: 1rem 2rem;
  background-color: #000;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.authors {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
