* {
  outline: auto;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
}

.Luxury-vehicles-title {
  text-align: left;
  position: absolute;
  top: 20px;
   left: 7rem;
   color: #000;
   font-size: 2.5em;
   
}
.hero-image-container {
  position: relative;
  width: 60%;
  order: 2; 
  background-image: radial-gradient(circle at top, #ffffff 60%, rgba(95, 153, 143,0.15));
  border-radius: 8px; /* Optional: if you want rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.01); /* Horizontal offset, vertical offset, blur radius, color */
  bottom: 6rem;
  background-position: left top;
  display: flex;
  justify-content: center;
}
.hero-image {
  width: 80%;
  height: 100%; 
  display:flex;
 margin-bottom: -20rem;
 padding-bottom: 5rem;
}

section.hero-banner .circla-label img{
  position: absolute;
  left: -50px;
  bottom:-25px ;
  width: 14rem;
}
p{
  font-size: 15px;
}

.thumbnail-container{
  background-color: rgb(235, 100, 76);
  width: 150px; /* Adjust as necessary */
  height: auto;
  border-radius: 8px; /* Optional: if you want rounded corners */
  margin-bottom: 10px;

}
.thumbnail {
  width: 150px; /* Adjust as necessary */
  height: 120px;
  border-radius: 8px; /* Optional: if you want rounded corners */
  margin-bottom: 10px;
  position: relative;
  bottom:1rem ;
  left: 1rem;
}
.description{
  margin: 25px 0px;
}
.explore-button {
  background-color: #ffcc00; /* Bright color for the button */
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 25px;
  cursor: pointer; /* Changes the cursor on hover */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Makes the text bold */
    border-radius: 5px; /* Rounds the corners of the button */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

.explore-button:hover {
  background-color: #e6b800; /* Darker shade for hover effect */
}

.specs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.spec-item {
  text-align: center;
  /* margin: 0 20px;  */

  
}

.spec-item h3 {
  color: #333; /* Change to desired heading color */
  margin-bottom: 5px;
}

.spec-item p {
  color: #000; /* Change to desired text color */
  font-size: 1.5em; /* Adjust the size as needed */
  font-weight: bold;
}
.spec-item:last-child {
  margin-right: 0;
}

.car-offers {
  background-color: #fff;

}

.car-offers-title h2{
  color: #000;
  font-size: 3.5rem;
  text-align: center;
}

.car-offers .heading p {
  color: #555;
  font-size: 1em;
  margin-bottom: 20px;
}

.car-list {
  display: flex;
  justify-content: space-evenly;
}

.car-item {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.0); /* Adjust shadow as needed */
  margin-bottom: 20px;
}

.car-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 16px;
}
.car-item h3 {
  color: #333;
  font-size: 1.5em; /* Adjust size as needed */
  /* margin: 10px 0; */
  text-align: left;
  white-space: nowrap;
}
.card-rating {
  color: rgb(189, 112, 50); /* gold color */
  font-size: 18px; /* larger size for visibility */
  margin-bottom: 7px;
}

.car-item .price {
  color: #e84c3d; /* Adjust to the exact color using a color picker */
  font-size: 1.5em; /* Adjust size as needed */
  margin-bottom: 10px;
}

.car-item p {
  color: #555;
  font-size: 1em; /* Adjust size as needed */
  margin-bottom: 10px;
}

.car-info {
  list-style: none;
  padding: 0;
  color: #555;
  font-size: 0.9em; /* Adjust size as needed */
}

.car-info li {
  margin-bottom: 5px;
}
.card {
  width: 277px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  display: block;
}

.card-title {
  /* margin: 16px; */
  font-size: 24px;
  color: #333;
}

.card-price {
  /* margin: 0 16px; */
  font-size: 18px;
  color: #e84c3d;
  font-weight: bold;
}

.card-description {
  /* margin: 16px; */
  font-size: 14px;
  color: #555;
}

.card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border: 0.05px solid #eeebeb; /* Adjust the color #ccc to match the desired border color */
  border-radius: 8px; /* Adjust the value to match the desired border radius */
  box-shadow: 0 4px 8px rgba(0,0,0,0.02); /* This adds a shadow to the card, as seen in the image */
  overflow: hidden;
  text-align: center;
}

.card-info-item .info-title {
  display:  block;
  font-size: 12px;
  color: #181717;
  
}
.card-info-item:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 15px; 
  /* margin-right: 5px;  */
  
}
.card-info-item:not(:first-child) {
  position: relative;
  right: 20px;
  
}
.info {
  font-size:  16px;
  color: #000000;
  font-weight: bold;
  
}


@media (max-width: 600px) {
  .card {
      /* margin: 20px; */
      width: calc(100% - 40px);
  }
}

@media (max-width: 1190px) {
  .hero-banner {
    flex-direction: column; /* Stack elements vertically */
  }

  .hero-image-container {
    width: 100%; /* Full width */
  }

  .circla-label img {
    width: 20%; /* Smaller label */
    right: 10%; /* Adjust as needed */
    bottom: 10%; /* Adjust as needed */
  }

  .cta {
    width: 100%; /* Full width */
    order: 2; /* Ensure this comes after the image container */
  }
}

/* Small screens (and smaller) */
@media (max-width: 768px) {
  .hero-image-container {
    width: 100%; /* Full width */
  }

  .circla-label img {
    width: 10rem; /* Fixed size, or use percentage as preferred */
    right: 5%; /* Adjust to keep it relative to the parent */
    bottom: 5%;
  }

  .cta {
    order: 3; /* Ensure this comes after the image container */
  }
}

@import url(./reset.css);

header {
  background-color: #fff;
}

.desktop-nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

@media (max-width: 64.5rem) {
  .pages {
    display: none;
  }
}

.desktop-nav h1 {
  color: #000;
}

.pages a {
  color: #000;
  padding: 1rem 2rem;
}

.pages a:last-child {
  background-color: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.pages a:last-child:hover {
  background-color: #fff;
  border-radius: 0.5rem;
  border: #000 0.1rem solid;
  color: #000;
}

footer {
  padding: 4rem 0;
}

footer,
footer a {
  background-color: #1b1b1b;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links,
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.newsletter input {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.join-btn {
  align-self: flex-end;
  padding: 1rem 2rem;
  background-color: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.join-btn:hover {
  align-self: flex-end;
  padding: 1rem 2rem;
  background-color: #000;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.authors {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* ! ------------------------------------------------------------------------ */
/* !                                  Dialog                                  */
/* ! ------------------------------------------------------------------------ */

.overlay,
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.5s ease;
  cursor: pointer;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  translate: 0 -15px;
  transition: all 0.5s ease;
  z-index: 2;
  width: 35rem;
}

.sign-up-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.valid {
  background-image: url(../media/icons/check-mark.png);
  background-position-x: right 1rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 10%;
}

.visible {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.sign-up-google,
.sign-up-apple,
.sign-up-email-password input {
  border: 0.1rem solid #e6eaec;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.sign-up-email-password {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 0.5rem;
}

.have-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.have-account p {
  font-size: 1.1rem;
}

#sign-up-modal-btn {
  background-color: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.tc-link,
.login-link {
  text-decoration: underline #d4d4d4;
  color: #1b1b1b;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;
}

.flex-container img {
  width: 30rem;
  border-radius: 0.4rem;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  line-height: 1.3;
}

.center-div h2 {
  font-size: 4.5rem;
}

.center-div p {
  font-size: 1.8rem;
  width: 40rem;
}

.brands-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.brands-logos p {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.brands-logos img {
  width: 10rem;
  border-radius: 0.4rem;
}

.lineup {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
}

.lineup h2 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.discover-more-btn {
  background-color: #ffe931;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.discover-more-btn:hover {
  background-color: #ffe931;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #000;
}
